.TestTopicPage {
  width: 100%;
  height: calc(100vh - 70px);
  padding: 0 35px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9B5DE5;

  &--title {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
    margin: 0;

  }

  &--subtitle {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;
    margin: 30px 0;
  }

  &--button {
    width: 117px;
    height: 48px;
    background: #FEE440;
    border-radius: 41.25px;

    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #8D5CF6;

    border: 2px solid #FEE440;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      border: 2px solid #FFFFFF;
    }
  }

}

.TestCard {
  max-width: 690px;
  width: 100%;
  height: 345px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(224, 214, 214, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--cancelButtonWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      margin-right: 20px;
      cursor: pointer;
      transition: 300ms;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  &--title {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Black */

    color: #1D1D1D;
    margin: 0 35px;
  }

  &--answersWrapper {
    margin: 20px 35px;

    &--answer {
      font-family: 'Geometria' !important;
      font-style: normal !important;
      font-weight: 400;
      font-size: 14px !important;
      line-height: 21px;
      /* identical to box height */

      display: flex;
      align-items: center;

      /* Purple */

      color: #8D5CF6;
    }
  }

  &--buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 35px;

    &--backArrow {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 4px solid #4D4D4D;
      border-radius: 50%;
    }

    &--nextArrow {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 4px solid #4D4D4D;
      border-radius: 50%;
      background: #4D4D4D;
      margin-left: 10px;
    }

    button {
      margin-right: auto;
      padding: 15px 25px;
      width: 111px;
      height: 50px;
      background: #FEE440;
      border-radius: 33px;
      border: 1px solid #FEE440;
      cursor: pointer;
    }
  }
}
