.subject-progress-page {
  background-color: #8D5CF6;
  width: 100%;
  height: calc(100vh - 105px);
  padding: 35px 35px 0 35px;
  display: flex;
  justify-content: center;

}

.subject-progress-wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--upper-side {
    display: flex;
    flex-direction: row;
  }

  &--down-side {
    background: #FFFFFF;
    border-radius: 30px;
    max-height: 500px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 33px;
      color: #1D1D1D;
      margin-left: 50px;
      margin-top: 10px;
      margin-bottom: 15px;
      margin-bottom: 15px;
    }
  }
}

.subject-progress-information-wrapper {
  max-width: 369px;
  width: 100%;
  height: 300px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0 0 15px 50px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #4D4D4D;

  }

  div {
    margin: 0 0 15px 50px;
    display: flex;
    flex-direction: row;
    p {
      margin: 0 0 0 10px;
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 300;
      font-size: 21px;
      line-height: 27px;
      color: #4D4D4D;
    }
  }

}

.subject-progress-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  max-width: 500px;
  width: 100%;
  background: #FCFCFC;
  border-radius: 20px;
}

.subject-progress-list {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
  border: 1px double #F15BB5;
  border-radius: 10px;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #F15BB5;
    height: 30px;

    div {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  &--body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 160px;

    &--row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      height: 40px;
      transition: 300ms;
      border: none;
      min-height: 40px;

      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background-color: #F15BB5;
      }

      &--item {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.progress {
  width: 80%;
  border-radius: 8px;
  background: #EBEAE3;
  &--indicate {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
  }
}
