.RegisterPageStudent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FEE440;

  &__title {
    margin: 20px 0;
    font-size: 70px;
    color: #9B5DE5;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--input {

    }

    &--button {
      margin-top: 32px;
    }

  }

  &__svg {
    width: 150px;
    height: 150px;
    position: fixed;
    right: 50px;
    top: 500px;
    transform: rotate(5deg);
  }

  &__footerTitle {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #797662;
    white-space: pre;

    &--route {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }

  }


}

.RegisterPageTeacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9B5DE5;
  &__title {
    margin: 20px 0;
    font-size: 70px;
    color: #FEE440;
    text-transform: uppercase;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--input {

    }

    &--button {
      margin-top: 32px;
    }

  }

  &__svg {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 50px;
    top: 500px;
    transform: rotate(-5deg);
  }

  &__footerTitle {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #EBE1F8;
    white-space: pre;

    &--route {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }

  }


}
