.VideoTopicPage {
  width: 100%;
  height: calc(100vh - 70px);

  &--title {
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19222F;
  }
}

.VideoWrapper {
  display: flex;
  justify-content: center;
}

.VideoIframe {
  border-radius: 12px;
}
