.VideoTopicPage {
  width: 100%;
  height: calc(100vh - 145px);
  padding: 75px 35px 0 35px;
  background-color: #E5E5E5;

  &--title {
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19222F;
  }

  &--button {
    margin-left: 15px;
    margin-top: 30px;
    background: #F15BB5;
    border-radius: 41.25px;
    width: 87px;
    height: 50px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #F15BB5;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: #FFFFFF;
      color: #000000;
    }
  }
}

.VideoWrapper {
  display: flex;
  justify-content: center;
}

.VideoIframe {
  border-radius: 12px;
}
