.TextTopicPage {
  height: calc(100vh - 145px);
  padding: 75px 35px 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;

  &--title {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */
    color: #19222F;

  }

  &--text {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

    /* Less black */

    color: #4D4D4D;
  }

  &--button {
    margin-left: 15px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 70px;
    background: #F15BB5;
    border-radius: 41.25px;
    width: 87px;
    height: 50px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #F15BB5;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: #FFFFFF;
      color: #000000;
    }
  }
}
