.Home {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F6F8FF;
  height: calc(100vh - 105px);
  padding: 35px 35px 0 35px;

}

.LeftHomeWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 800px;
  width: 100%;
}

.TitleWrapper {
  background: #8D5CF6;
  border-radius: 30px;
  max-width: 800px;
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &--firstRow {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;

    a {
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;

      color: #FFFFFF;
      display: flex;
      align-items: center;

    }

    div {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border-radius: 30px;
      height: 36px;
      margin-left: 40%;

      img {
        margin-right: 17px;
      }

      a {
        font-family: 'Geometria';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-left: 17px;
        margin-right: 11px;
      }
    }
  }


  &--secondRow {
    margin-left: 50px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    margin-top: 5px;
    margin-bottom: 10px;

    color: #FFFFFF;
  }

  &--thirdRow {
    width: 158px;
    margin-left: 50px;
    background: #FEE440;
    border-radius: 28px;
    border: solid #FEE440 2px;
    height: 45px;
    cursor: pointer;
    transition: 300ms;
    margin-bottom: 30px;

    &:hover {
      border: solid #F15BB5 2px;
    }
  }

  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #3C3D45;
    border: 5px solid #A55FEA;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
  }

  &--links-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px 30px 50px
  }

}

.RecentlyComponent {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(224, 214, 214, 0.25);
  border-radius: 30px;
  border-radius: 30px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  max-height: 400px;

  &--not-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "Geometria";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 33px;
      color: #1D1D1D;
    }
  }

  &--titleWrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;

    a {
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 33px;
      /* identical to box height */
      margin-right: 15px;


      /* Black */

      color: #1D1D1D;
    }

    button {
      background: #8D5CF6;
      border-radius: 7px;
      border: solid 1px #FFFFFF;
      height: 22px;
      cursor: pointer;
      transition: 300ms;
      color: #FFFFFF;
      width: 73px;
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      text-align: center;


      &:hover {
        border: solid 1px #8D5CF6;
        background-color: #FFFFFF;
        color: #000000;
      }
    }
  }

  &--tabsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px 30px 50px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F15BB5;
      border-radius: 15px;
      width: 199px;
      height: 44px;
      color: #FFFFFF;
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      text-align: center;
    }
  }
}


.RecentlyList {
  display: flex;
  flex-direction: column;
  margin: 0 50px 50px 50px;
}

.RecentlyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEAE3;

  &:last-child {
    border-bottom: none;
  }

  &--itemWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 44px;
  }
}

.RightHomeWrapper {
  max-width: 265px;
  height: 100%;
  width: 100%;
  max-height: 600px;
}

.account-card {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(224, 214, 214, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  &--user-wrapper {
    display: flex;
    margin: 30px 30px 20px 50px;

    &--name {

    }

    &--img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: #3C3D45;
      //border: 5px solid #A55FEA;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
      margin-right: 15px;

      p {
        color: #FFFFFF;
        font-size: 26px;
      }
    }
  }

  &--links-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 50px 30px 50px;

    p {
      font-family: 'Geometria';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;

      color: #4D4D4D;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }

    }

    img {
      margin-top: 20px;
    }
  }
}

.home-illustration-two {
  width: 180.24px;
  height: 156px;
  position: fixed;
  margin-top: 20px;
  margin-left: 560px;
}
